<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Best Restaurants - Daftar restoran terbaik"
    />
    <title>Best Restaurants</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>
  <body>
    <a href="#restaurants" class="skip-link">Menuju ke daftar restoran</a>
    <header>
      <nav>
        <div class="navbar-logo">
          <h2>IzHaL</h2>
          <button class="hamburger" aria-label="Hamburger Button">
            <i class="hamburger-icon fa fa-bars"></i>
          </button>
        </div>
        <ul class="navbar-menu">
          <li class="navbar-menu-item"><a href="/">Home</a></li>
          <li class="navbar-menu-item">
            <a href="#restaurants">Restaurants</a>
          </li>
          <li class="navbar-menu-item"><a href="#">Favorite</a></li>
          <li class="navbar-menu-item">
            <a
              href="https://www.linkedin.com/in/risal-walangadi/"
              target="_blank"
              rel="noopener"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero-container">
        <div class="hero-image">
          <div class="hero-title">
            <h1>Best Restaurants</h1>
            <h3>Daftar beberapa restoran yang ada di indonesia</h3>
          </div>
        </div>
      </div>
      <div class="container">
        <section id="restaurants" aria-label="List of Restaurants">
          <article id="card-container"></article>
        </section>
      </div>
    </main>
    <footer><p>Copyright &copy; 2020 - Risal Walangadi</p></footer>
  </body>
</html>
